<div class="row">
    <div class="col-xs-12 col-md-6 title">
        <h2>Creación Roles Usuario</h2>
    </div>
</div>
<div class="row gutter-12">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-card">
            <div class="panel-body">
                    <div class="form-group">
                        <label for="nombre" class="control-label">Ingrese Nombre de rol: </label>
                        <input type="text" class="form-control" ng-model="name" id="nombre" placeholder="" >
                    </div>
            </div>
        </div>
    </div>
</div>
    <div class="row gutter-12">
      <div class="col-xs-12 col-md-12" ng-if="grid">
          <div ui-grid="rolesCreate.detailsRoles" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination ></div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="row botonera">
            <div class="col-xs-12 col-md-3">
                <button md-ink-ripple ui-sref="app.roles" class="md-btn md-raised m-b btn-fw azul-planner "><i class="i-24 mdi-navigation-arrow-back"></i> Anterior<div class="md-ripple-container"></div></button>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="pull-right">
                    <button md-ink-ripple class="md-btn md-raised m-b btn-fw morado-planner " ng-click="rolesCreate.save()" ng-disabled="isDisabled || (name == '')" ng-model="isDisabled"><i class="i-24 mdi-content-save"></i> Guardar<div class="md-ripple-container"></div></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->

<style media="screen">
  .fade-in-out {
  transition: 1s linear all;
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}
.hh {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  width: 95%;
}

</style>
