<div class="row">
    <div class="col-xs-12 col-md-6 title">
        <h2>Creación Grupos de Usuario</h2>
    </div>
</div>
<div class="row gutter-10">

  <!--Listado de Actividad Asignatura-->

  <div class="col-xs-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-card">
            <div class="panel-body">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label for="nombre" class="control-label">Ingrese Nombre de Grupo: </label>
                        <input type="text" class="form-control" ng-model="name" id="nombre" placeholder="" >
                    </div>
            </div>
        </div>
    </div>
</div>
   
    <div class="md-whiteframe-z0 bg-white">
      <ul class="nav nav-lines nav-tabs nav-justified">
        <li class="active">
          <a href="" data-toggle="tab" data-target="#campus" ng-click="groupsCreate.showGridCampus()"><h5>CAMPUS</h5></a>
        </li>
        <li>
          <a href="" data-toggle="tab" data-target="#career" ng-click="groupsCreate.showGridCareer()"><h5>CARRERA</h5></a>
        </li>
        <li>
          <a href="" data-toggle="tab" data-target="#departament" ng-click="groupsCreate.showGridDepartament()"><h5>DEPARTAMENTO</h5></a>
        </li>
      </ul>
      <div class="tab-content no-padding clear b-t b-t-2x">
        <div role="tabpanel" class="tab-pane animated fadeInDown active p-b-md" id="campus">
        <br>
        <div class="form-group col-md-4 pull-right" >
              <select class="form-control" ng-disabled="true">
                      <option value="1">Filtro de Seleccion</option>
                      <option value="2">Campus 1</option>
                      <option value="3">Campus 2</option>
                      <option value="4">Campus 3</option>
              </select>
        </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" >
            <div ng-if="gridCampus" ui-grid="groupsCreate.detailsGroups" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination ></div>
          </div>
        </div>
        <!-- {{groupsCreate.detailsGroups.data}} -->
        <div role="tabpanel" class="tab-pane animated fadeInDown" id="career" >
        <br>
        <div class="form-group col-md-4 pull-right">
              <select class="form-control " ng-disabled="true">
                      <option value="1">Filtro de Seleccion</option>
                      <option value="2">career 1</option>
                      <option value="3">career 2</option>
                      <option value="4">career 3</option>
              </select>
        </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" >
            <div ng-if="gridCareer" ui-grid="groupsCreate.detailsGroupsCareer" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination ></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane animated fadeInDown" id="departament" >
        <br>
        <div class="form-group col-md-4 pull-right">
              <select class="form-control " ng-disabled="true">
                      <option value="1">Filtro de Seleccion</option>
                      <option value="2">departament 1</option>
                      <option value="3">departament 2</option>
                      <option value="4">departament 3</option>
              </select>
        </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" >
            <div ng-if="gridDepartament" ui-grid="groupsCreate.detailsGroupsDepartament" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="row botonera">
            <div class="col-xs-12 col-md-3">
                <button md-ink-ripple ui-sref="app.groups" class="md-btn md-raised m-b btn-fw azul-planner "><i class="i-24 mdi-navigation-arrow-back"></i> Anterior<div class="md-ripple-container"></div></button>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="pull-right">
                    <button md-ink-ripple class="md-btn md-raised m-b btn-fw morado-planner " ng-click="groupsCreate.save()" ng-disabled="isDisabled || (name == '')" ng-model="isDisabled"><i class="i-24 mdi-content-save"></i> Guardar<div class="md-ripple-container"></div></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  -->

<style media="screen">
  .fade-in-out {
  transition: 1s linear all;
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}
.hh {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  width: 95%;
}

</style>
