<div class="row">
    <div class="col-xs-12 col-md-6 title">
        <h2 ng-show="titleList">Administración Grupos de Usuario</h2>
        <h2 ng-show="titleEdit">Edición Roles Usuario</h2>
    </div>
    <div class="col-xs-12 col-md-6">
      <button md-ink-ripple  ui-sref="app.groupsCreate" class="md-btn md-raised m-b m-l btn-fw verde-web-planner p-btn-lg pull-right">Crear Nuevo Grupo</button>
    </div>
</div>
<div class="row gutter-10">
  <!--Listado de Campus Periodos Jornadas-->
  <div class="col-xs-12 col-md-2 col-lg-2">
    <div class="row ">
      <div class="col-xs-12">
        <input id="filter" type="text" class="form-control input-lg w-full no-brd m-b" placeholder="Buscar" ng-model="filter_groups" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="lista-items-menu">
          <li ng-repeat="item in (filtered = (groupsList.groups | filter:{$:filter_groups}))">
            <a ng-click="groupsList.loadGroups(item)"  class="{{(item.groupid == groupsList.groupid)?'active':''}}" >
              <span>Código : {{item.groupid}}</span>
              <p>{{item.groupname}}</p>
              <p class="{{(item.active == 'Inactive')?'badge bg-danger ng-binding':'badge bg-success ng-binding'}}">{{item.active}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Listado de Actividad Asignatura-->

  <div class="col-xs-12 col-md-10 col-lg-10">
    <div class="row m-b-md">
        <div class="col-xs-12 col-md-7 col-lg-7 title-prog">
             <span>Código:{{groupsList.groupid}}</span>
            <h5>{{groupsList.groupname}}</h5>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="btn-group pull-right" data-toggle="buttons">
                <button md-ink-ripple="" ng-click="groupsList.editGroups()" popover="Editar" popover-placement="bottom" popover-trigger="mouseenter" type="button" class="btn btn-lg btn-planner morado-planner md-ink-ripple" ng-show="edit"><i class="mdi-editor-border-color"></i></button>
                <button md-ink-ripple="" ng-click="groupsList.modalDelete()" popover="Borrar" popover-placement="bottom" popover-trigger="mouseenter" type="button" class="btn btn-lg btn-planner morado-planner md-ink-ripple"><i class="mdi-action-delete"></i></button>
            </div>      
        </div>
    </div>
    <div class="md-whiteframe-z0 bg-white">
      <ul class="nav nav-lines nav-tabs nav-justified">
        <li class="active">
          <a href="" data-toggle="tab" data-target="#campus" ng-click="groupsList.showGridCampus()"><h5>CAMPUS</h5></a>
        </li>
        <li>
          <a href="" data-toggle="tab" data-target="#career" ng-click="groupsList.showGridCareer()" ><h5>CARRERA</h5></a>
        </li>
        <li>
          <a href="" data-toggle="tab" data-target="#apartament" ng-click="groupsList.showGridDepartament()"><h5>DEPARTAMENTO</h5></a>
        </li>
      </ul>
      <div class="tab-content no-padding clear b-t b-t-2x">
        <div role="tabpanel" class="tab-pane animated fadeInDown active" id="campus">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" >
            <div ng-if="gridCampus" ui-grid="groupsList.detailsGroups" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane animated fadeInDown" id="career" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" >
            <div ng-if="gridCareer" ui-grid="groupsList.detailsGroupsCareer" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane animated fadeInDown" id="apartament" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" >
            <div ng-if="gridDepartament" ui-grid="groupsList.detailsGroupsDepartament" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="row botonera">
            
            <div class="col-xs-12 col-md-12">
                
                <div class="pull-right">
                    <button md-ink-ripple class="md-btn md-raised m-b btn-fw morado-planner m-l" ng-show="editSave" ng-click="groupsList.editGroupsSave()" ng-model="isDisabled" ng-disabled="isDisabled"><i class="i-24 mdi-content-save"></i> Guardar<div class="md-ripple-container"></div></button>
                </div>
                <div class="pull-right">
                    <button md-ink-ripple class="md-btn md-raised m-b btn-fw rojo-planner m-l "  ng-click="groupsList.cancelEditGroups()" ng-show="editSave"><i class="i-24 mdi-content-clear"></i> Cancelar<div class="md-ripple-container"></div></button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--  -->

<style media="screen">
  .fade-in-out {
  transition: 1s linear all;
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}
.hh {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  width: 95%;
}

</style>
