<div class="row">
    <div class="col-xs-12 col-md-6 title">
        <h2>Administración Usuarios</h2>
    </div>
    <div class="col-xs-12 col-md-6">
      <button md-ink-ripple  ui-sref="app.userCreate" class="md-btn md-raised m-b m-l btn-fw verde-web-planner p-btn-lg pull-right">Crear Nuevo Usuario</button>
    </div>
</div>
<div class="row gutter-10">
  <!--Listado de Campus Periodos Jornadas-->
  <div class="col-xs-12 col-md-2 col-lg-2">
    <div class="row ">
      <div class="col-xs-12">
        <input id="filter" type="text" class="form-control input-lg w-full no-brd m-b" placeholder="Buscar" ng-model="filter_users" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="lista-items-menu">
          <li ng-repeat="item in (filtered = (userList.users | filter:{$:filter_users}))">
            <a ng-click="userList.loadUser(item)"  class="{{(item.username == userList.username)?'active':''}}" >
              <span>{{item.username}}</span>
              <p>{{item.name}}</p>
              <p class="badge bg-success ng-binding">{{item.institution}}</p>
              <p  class="{{(item.active == 'Inactive')?'badge bg-danger ng-binding':'badge bg-success ng-binding'}}">{{item.active}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-md-10 col-lg-10">
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-7 title-prog">
            <span>{{userList.username}}[{{userList.id}}]</span>
            <h3>{{userList.name}}</h3>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5">
        <div class="btn-group pull-right" data-toggle="buttons">
                 <button md-ink-ripple popover="Editar" popover-placement="bm" popover-trigger="mouseenter" type="button" class="btn btn-lg btn-planner morado-planner" ng-click="userList.userEdit(userList.id)" ><i class="mdi-editor-border-color"></i></button>
                <button md-ink-ripple ng-click="userList.modalDelete()" popover="Borrar" popover-placement="bm" popover-trigger="mouseenter" type="button" class="btn btn-lg btn-planner morado-planner"><i class="mdi-action-delete"></i></button>
        </div>
        </div>
    </div>
    <div class="row gutter-10 scroll-70vh p-t">
      <div class="col-xs-12 col-md-12 p-t-lg">
          <div class="card">
              <div class="card-body">
                <div class="row b-b">
                    <div class="col-xs-6 col-md-3">
                       <div alt=""  class="p-b">
                           <img ng-src="{{picture}}" style="width:150px;height:150px" class="img-circle" err-src="{{notPicture}}">
                       </div> 
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Nombre Completo</h5>
                            <p>{{userList.detailsUser.fullname}}</p>
                        </div>
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Email</h5>
                            <p>{{userList.detailsUser.mail}}</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Username</h5>
                            <p>{{userList.detailsUser.username}}</p>
                        </div>
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Institución a la que pertenece</h5>
                            <p>{{userList.detailsUser.institutionName}}</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Estado</h5>
                            <p class="{{(userList.detailsUser.is_active == 'Inactive')?'badge bg-danger ng-binding':'badge bg-success ng-binding'}}">{{userList.detailsUser.is_active}}</p>
                            
                        </div>
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Creado</h5>
                             <p class="badge bg-primary ng-binding">{{userList.detailsUser.createdAt.substring(0,10)}}</p>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="row ">
                <div class="col-xs-12">
                    <h4 class="text-azul-planner">Configuración de Acceso</h4>
                </div>
                    <div class="col-xs-12 col-md-6" >
                        <h5 class="text-azul-planner">Roles usuario</h5>
                        <div  ng-repeat="item in userList.detailsUser.roles">
                            <p>{{item.rolename}}</p>
                        </div>
                        
                    </div>

                    <div class="col-xs-12 col-md-6 b-l p-r" >
                        <h5 class="text-azul-planner" >Grupos Asociados</h5>
                        <div ng-repeat="item in userList.detailsUser.groups">
                            <p>{{item.groupname}}</p>
                        </div>
                        
                    </div>
                </div>
              </div>
          </div>
      </div>
      
    </div>
  </div>
</div>

