<div class="row">
    <div class="col-xs-12 col-md-6 title">
        <h2>Editar Usuario</h2>
    </div>  
</div>
<div class="row gutter-10">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="row gutter-12 scroll-70vh p-t">
      <div class="col-xs-12 col-md-12 p-t-lg">
          <div class="panel panel-card">
              <div class="panel-body">
                <div class="row b-b">
                <div class="col-xs-12">
                    <h4 class="text-azul-planner">Información Personal</h4>
                </div>
                <form name="form">
                    <div class="col-xs-6 col-md-3">
                       <div alt=""  class="p-b">
                           <img ng-src="{{picture}}" style="width:150px;height:150px" class="img-circle" err-src="{{notPicture}}">
                       </div>
                      <!--   <div class="p-b-md">
                            <h5 class="text-azul-planner">Cargar imagen</h5>
                            <p><input type="file" nv-file-select="" uploader="uploader" ng-model="file"></p>
                        </div>  -->
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Nombre Completo</h5>
                            <p><input type="text" class="form-control" placeholder="" ng-model="userEdit.name" aria-invalid="false" style=""></p>
                        </div>
                        <div class="p-b-md">   
                            <h5 class="text-azul-planner has-error has-feedback">Email <span class="error  control-label" ng-show="form.input.$error.email">: El correo no es válido!</span></h5>
                            <p><input type="email" class="form-control" placeholder="" ng-model="userEdit.email"  name="input" required aria-invalid="false" style="">
                            </p>
                                 
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Nombre Usuario</h5>
                            <p><input type="text" class="form-control" placeholder="" ng-model="userEdit.username" aria-invalid="false" style=""></p>
                        </div>
                        <div class="p-b-md" >
                            <h5 class="text-azul-planner">Institución a la que pertenece</h5>
                            <p><select class="form-control" id='institution' ng-model="userEdit.institution" >
                                <option value="0"  ng-disabled="true">Seleccione Institución....</option>
                                <option  ng-selected="userEdit.selectedId{{institutions.institutionid}}" ng-value="{{institutions.institutionid}}" ng-repeat="institutions in userEdit.institutions">{{institutions.institutioname}}</option>
                
                              </select>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Password</h5>
                            <p><input type="password" class="form-control" placeholder="password" ng-model="userEdit.password" aria-invalid="false" style=""></p>
                        </div>
                        <div class="p-b-md" >
                            <h5 class="text-azul-planner">Ingrese su password Nuevamente</h5>
                            <p><input type="password" tooltip-placement="bottom" tooltip="La contraseña debe ser igual a la ingresada arriba" class="form-control" placeholder="ingrese su password" ng-model="userEdit.password2" aria-invalid="false" style=""></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="p-b-md">
                            <h5 class="text-azul-planner">Estado</h5>
                            <p><label class="md-check">
                            
                                  <input type="radio" name="radio" ng-value="true" ng-model="userEdit.status">
                                   <i class="blue"></i>Activo 
                                  </label>&nbsp;&nbsp;&nbsp;
                                  <label class="md-check">
                                  <input type="radio" name="radio"  ng-value="false" ng-model="userEdit.status">
                                      <i class="blue"></i>Inactivo                              
                                </label>
                                
                                
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="row ">
                <div class="col-xs-12">
                    <h4 class="text-azul-planner">Configuración de Acceso</h4>
                </div>
                    <div class="col-xs-12 col-md-6" >
                        <h5 class="text-azul-planner">Roles usuario</h5>
                        <div>
                            <ui-select multiple ng-model="userEdit.rolesList" theme="bootstrap"  close-on-select="false" title="Seleccione Rol " remove-selected="false">
                                <ui-select-match placeholder="Seleccione Roles...">{{$item.rolename}}</ui-select-match>
                                    <ui-select-choices 
                                     repeat="roles in ( userEdit.roles | filter: { rolename: $select.search }) track by roles.roleid ">
                                    <div ng-bind-html="roles.name | highlight: $select.search"></div>
                                    <small>
      
                                <span ng-bind-html="''+roles.rolename | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                    <!-- <p>Selected: {{userCreate.model}}</p> | filter: $select.search-->
                    </div>  
                    </div>
                    <div class="col-xs-12 col-md-6 b-l p-r" >
                        <h5 class="text-azul-planner" >Grupos Asociados</h5>
                        <div>
                            <ui-select multiple ng-model="userEdit.groupsList" theme="bootstrap"  close-on-select="false" title="Seleccione Grupos " remove-selected="false">
                                <ui-select-match  placeholder="Seleccione grupos...">{{$item.groupname}}</ui-select-match>
                                    <ui-select-choices repeat="groups in ( userEdit.groups | filter: { groupname: $select.search }) track by groups.groupid ">
                                    <div ng-bind-html="groups.name | highlight: $select.search"></div>
                                    <small>
      
                                <span ng-bind-html="''+groups.groupname | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                    <!-- <p>Selected: {{userCreate.model}}</p> -->
                        </div>
                        
                    </div>
                    </form>
                </div>
                <div class="row">
                <div class="col-xs-12">
                    <div class="row botonera p-t">
                        <div class="col-xs-12 col-md-3">
                            <button md-ink-ripple ui-sref="app.users" class="md-btn md-raised m-b btn-fw azul-planner "><i class="i-24 mdi-navigation-arrow-back"></i> Anterior<div class="md-ripple-container"></div></button>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="pull-right">
                               
                                 <button md-ink-ripple class="md-btn md-raised m-b btn-fw morado-planner " ng-click="userEdit.save()" ng-disabled="isDisabled || ( userEdit.name == '' ||  userEdit.email == '' ||  userEdit.username == '' ||  userEdit.institution == 0 ||  userEdit.password !=  userEdit.password2 || userEdit.rolesList == 0 || userEdit.groupsList == 0)" ng-model="isDisabled"><i class="i-24 mdi-content-save" ></i> Guardar<div class="md-ripple-container"></div></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </div>
              
          </div>
      </div>
      
    </div>
  </div>


</div>

