 <style>
    .modal-header,.close {
      background-color: #0069a0;
      color:white !important;
      text-align: center;
      font-size: 25px;
    }

    .modal-footer {
      background-color: #f9f9f9;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalDeleteGroups.cancel()">
          <span aria-hidden="true">&times;</span>
    </button>
        <h3 class="modal-title">Desactivar Grupos</h3>
</div>
<div class="modal-body">
    <b>¿Realmente desea Desactivar este registro?</b></br></br>
    <h4>Nombre grupo:  {{modalDeleteGroups.name}}  &nbsp;<span class="label label-danger">   Código grupo  : {{modalDeleteGroups.id}}</span></h4>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="modalDeleteGroups.deleteGroups()">Confirmar</button>
    <button class="btn btn-danger" ng-click="modalDeleteGroups.cancel()">Cancelar</button>
</div>
