<div class="row">
    <div class="col-xs-12 col-md-6 title">
        <h2 ng-show="titleList">Administración Roles Usuario</h2>
        <h2 ng-show="titleEdit">Edición Roles Usuario</h2>
    </div>
    <div class="col-xs-12 col-md-6">
      <button md-ink-ripple  ui-sref="app.rolesCreate" class="md-btn md-raised m-b m-l btn-fw verde-web-planner p-btn-lg pull-right">Crear Nuevo Rol</button>
    </div>
</div>
<div class="row gutter-10">
  <!--Listado de Campus Periodos Jornadas-->
  <div class="col-xs-12 col-md-2 col-lg-2">
    <div class="row ">
      <div class="col-xs-12">
        <input id="filter" type="text" class="form-control input-lg w-full no-brd m-b" placeholder="Buscar" ng-model="filter_roles" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="lista-items-menu">
          <li ng-repeat="item in (filtered = (rolesList.roles | filter:{$:filter_roles}))">
            <a ng-click="rolesList.loadRoles(item)"  class="{{(item.roleid == rolesList.roleid)?'active':''}}" >
              <span>Código : {{item.roleid}}</span>
              <p>{{item.rolename}}</p>
              <p class="{{(item.is_active == 'Inactive')?'badge bg-danger ng-binding':'badge bg-success ng-binding'}}">{{item.is_active}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Listado de Actividad Asignatura-->
  <div class="col-xs-12 col-md-10 col-lg-10">
    <div class="row m-b-md">
        <div class="col-xs-12 col-md-7 col-lg-7 title-prog">
             <span>Código:{{rolesList.roleid}}</span>
            <h5>{{rolesList.rolename}}</h5>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="btn-group pull-right" data-toggle="buttons">
                <button md-ink-ripple="" ng-click="rolesList.editRoles()" ng-show="edit" popover="Editar" popover-placement="bottom" popover-trigger="mouseenter" type="button" class="btn btn-lg btn-planner morado-planner md-ink-ripple"><i class="mdi-editor-border-color"></i></button>
                <button md-ink-ripple="" ng-click="rolesList.modalDelete()" popover="Borrar" popover-placement="bottom" popover-trigger="mouseenter" type="button" class="btn btn-lg btn-planner morado-planner md-ink-ripple"><i class="mdi-action-delete"></i></button>
            </div>      
        </div>
    </div>
    <div class="row gutter-10">
      <div class="col-xs-12 col-md-12" ng-if="grid">
          <div ui-grid="rolesList.detailsRoles" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination ></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row botonera">
            
            <div class="col-xs-12 col-md-12">
                
                <div class="pull-right">
                    <button md-ink-ripple class="md-btn md-raised m-b btn-fw morado-planner m-l" ng-show="editSave" ng-click="rolesList.editRolesSave()" ng-model="isDisabled" ng-disabled="isDisabled"><i class="i-24 mdi-content-save"></i> Guardar<div class="md-ripple-container"></div></button>
                </div>
                <div class="pull-right">
                    <button md-ink-ripple class="md-btn md-raised m-b btn-fw rojo-planner m-l "  ng-click="rolesList.cancelEditRoles()" ng-show="editSave"><i class="i-24 mdi-content-clear"></i> Cancelar<div class="md-ripple-container"></div></button>
                </div>
            </div>
            
        </div>
    </div>
</div>



<!--  -->

<style media="screen">
  .fade-in-out {
  transition: 1s linear all;
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}
.hh {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  width: 95%;
}

</style>
